@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
*{
    font-family: 'SUITE-Regular';
}
.allMain{
    margin: 0 auto;
    width:500px;
    height: 500px;
    background-color: #f1efef;
    text-align: center;
    margin-top: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

form > div {
    padding: 5px;
    box-sizing: border-box;
}
.titleName{
    color: #f34646;
    padding-bottom: 20px;
    font-size: 40px;
}
input{
    width : 300px;
    height : 40px;
    border: none;
    border-bottom: 1px solid #ccc;
    padding-left: 10px;
    /* box-sizing: border-box; */
    
}

.btnLogin{
    width:290px;
    height: 35px;
    background-color: #f56666;
    border: none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    margin-top: 25px;
    padding : 0;
    margin-left: 5px;
}
.btnLogin:hover{
    background-color: #F45050;
    cursor: pointer;
    box-shadow: 0 14px 20px rgba(71, 71, 71, 0.25), 0 10px 10px rgba(146, 145, 145, 0.22);
}
.btnSign{
    all: unset;
    color:#5e5a5a;
    font-size: small;
    Letter-spacing: 5px;
    margin-top: 40px;
    margin-left: 10px;
}

.btnSign:hover{
    text-decoration-line: underline;
    font-style: italic;
    cursor: pointer;
}