.mainSlide{
    left:80px;
}

.popCard{
    width:1000px;
    margin:0 auto;
}

h5{
    /* width: 300px; */
    text-align: center;
    margin-top: 30px;
}
#mainMid{
    padding-bottom : 0;
}
#cardimg img{
    width: 300px;
}